{% extends "base.html" %}

{% load static %}

{% block title %} · Добавить заметку{% endblock %}

{% block nav %}
<a class="item" href="/"><i class="home icon"></i> {{ user.first_name }}</a>
<a class="item" href="/adddeadline/">Добавить дедлайн</a>
<a class="active item" href="/addtip/">Добавить заметку</a>
<a class="item" href="/profile/">Профиль</a>
<a class="item" href="/logout/">Выйти</a>
{% endblock %}

{% block content %}

<div class="ui vertical stripe segment">
  <div class="ui container">

    <form action="." method="post" class="ui form {% if messages %}error{% endif %}">
      {% csrf_token %}

      {% include "form.html" %}

      {% if messages %}

      {% for message in messages %}
      <div class="ui error message">
        <p>{{ message }}</p>
      </div>
      {% endfor %}

      {% endif %}

      <button class="ui button" type="submit">Добавить</button>
    </form>

  </div>
  <img class="centered large ui image" src="{% static 'pictures/notes_2.png' %}">
</div>
{% endblock %}
