{% extends 'base.html' %}

{% block title %} · Все задачи{% endblock %}

{% block nav %}
<a class="item" href="/"><i class="home icon"></i> {{ user.first_name }}</a>
<a class="item" href="/adddeadline/">Добавить дедлайн</a>
<a class="item" href="/addtip/">Добавить заметку</a>
<a class="item" href="/profile/">Профиль</a>
<a class="item" href="/logout/">Выйти</a>
{% endblock %}

{% block content %}
<div class="ui vertical stripe segment">
  <div class="ui container">
    <h1>Все задачи</h1>

    {% if len_tasks is 0 %}
    <p>Нет задач</p>
    {% endif %}

    <div class="ui link cards">
      {% for i in tasks  %}

      <div class="card">
        <div class="content">
          <div class="header">{{ i.title }}</div>
          <div class="meta">
            <a><b>{% if i.done %}Сделано{% else %}{% if i.is_timeout %}Провалено{% else %}Не начато{% endif %}{% endif %}</b></a>
          </div>
          <div class="description">
            {{ i.description|linebreaksbr }}
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            {{ i.date_deadline }}
          </span>
          <span>
            <i class="clock icon"></i>
              {{ i.working_time }} Минут
          </span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
