{% extends 'base.html' %} {% block nav %}

<a class="active item" href="/">You logined as {{ user.username }}</a>
<a class="item" href="/logout/">Logout</a>
<a class="item" href="/adddeadline/">Add Deadline</a>
<a class="item" href="/addtip/">Add Tip</a>

{% endblock %} {% block content %}
<div class="ui vertical stripe segment">
  <div class="ui text container">
    {% for tip in tips %}
    <div class="ui message">
      <form method="post" action="/unpin/">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ tip.id }}" />
        <button class="ui button close icon" type="submit"><i class="close icon"></i></button>
      </form>

      <p>{{ tip.text }}</p>
    </div>
    {% endfor %}
  </div>
  <br>
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h2>Задачи на завтра</h2>

        {% if len_deadlines_for_tomorrow is 0 %}
        <p>Нет задач на завтра</p>
        {% endif %}

        <div class="ui link cards">
          {% for task in deadlines_for_tomorrow %}

          <div class="card">
            <div class="content">
              <div class="header">{{ task.title }}</div>
              <div class="description">
                {{ task.description|linebreaksbr }}
              </div>
            </div>
            <div class="extra content">
              <span>
                <i class="clock icon"></i>
                {{ task.working_time }} Минут
              </span>
              <span>
                <a href="/donedeadline?deadline={{ task.id }}">
                  <button class="mini ui button right">Done</button>
                </a>
              </span>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
      <div class="column">
        <h2>Актуальные задачи</h2>
        {% if len_mydeadlines is 0 %}
        <p>Нету созданных задач</p>
        {% endif %}

        <div class="ui link cards">
          {% for i in mydeadlines %}
          <div />
          {% if i.done is False and i.is_timeout is False %}
          <div class="card">
            <div class="content">
              <div class="header">{{ i.title }}</div>
              <div class="meta">
                <a><b>Не начато</b></a>
              </div>
              <div class="description">
                {{ i.description|linebreaksbr }}
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                {{ i.date_deadline }}
              </span>
              <span>
                <i class="clock icon"></i>
                {{ i.working_time }} Минут
              </span>
            </div>
          </div>
          {% endif %} {% endfor %}
        </div>
        <br />
        <a href="/all_tasks"
          ><button class="fluid ui button">Все задачи</button></a
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}
